# Python bytecode
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# Entornos virtuales
venv/

# Alembic cache
alembic/__pycache__/
alembic/versions/__pycache__/

# Pytest cache
.pytest_cache/
tests/__pycache__/

# Archivos temporales de base de datos 
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db

# Otros: logs
*.log

# Templates cache
app/templates/__pycache__/

# Configuraion de .env
.env
